# Default ignored files
/../../LeetCode & Algorithms /.idea/shelf/
/../../LeetCode & Algorithms /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../LeetCode & Algorithms /.idea/httpRequests/
